<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_Alignment</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_AlignmentTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Classification</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ClassificationTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_LanguageModeling</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_LanguageModelingTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SequenceLabeling</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SequenceLabelingTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Tokenization</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TokenizationTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
